<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/open-sans" type="text/css"/>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/comfortaa-bold" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="static/style_topic.css">
	<script src="static/jquery-3.6.0.min.js"></script>
	<script src="static/jquery_login.js"></script>
    <style>
        .UserForm span {
            display: inline-block;
            width: 120px;
        }

    </style>
</head>
<body>
    <ul class="bar">
		<li id="logo">Debate Forum</li>
		<li id="home"><a class="button" href="{{ url_for('index') }}">Home</a></li>
		{% if current_user.is_authenticated %}
		<li>
			<div class="dropdown">
				<button class="dropbtn">User</button>
				<div class="dropdown-content">
					<a href="{{ url_for('user') }}">user</a>
					<a href="{{ url_for('logout') }}">log out</a>
				</div>
			</div>
        </li>
        {% endif %}
    	<li><a class="BarButton" href="{{ url_for('search') }}"><button class="BarButton">Search</button></a></li>

    </ul>
    <h1 style="text-align: center">Manager</h1>
    <header class="adminHeader">
        <a href="/adminTopic">Admin Topic</a>
        <a href="/adminClaim">Admin Claim</a>
        <a href="/adminReply">Admin Reply</a>
    </header>
</body>
</html>